.side-bar-container {
  height: 100vh;
  background-color: $sidebar-color;
  color: $secondary-color;
  padding: 10px 5px;

  #instruction {
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: inherit;
  }

  ul.menu {
    list-style: none;

    li.menu-item {
      cursor: pointer;
      margin-left: 1em;

      ul#layers {
        list-style: none;
        margin-left: -1em;

        li {
          padding: 0.5em 1em 0.5em 1em;
          margin-left: 0;
          margin-bottom: 0;
          small {
            border: 1px solid $secondary-color;
            padding: 0.05em 0.5em;
            border-radius: 50%;
          }
          &.selected {
            border: 1px solid #f8ffd2;
          }

        }

      }

    }

    button#addLayer {
      padding: 3px 10px;
      line-height: 16px;
      letter-spacing: inherit;
      border-radius: 0;
      font-size: 10px;
      height: auto;
    }

  }

}
